# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# .terraform directories, which contain provider plugins and modules
.terraform/
*.terraform/

# Ignore override files and override directories
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local variable files (optional, if you're storing sensitive information in them)
*.tfvars
*.tfvars.json

# Ignore Terraform plan files
*.tfplan

# Ignore the .terraform.lock.hcl file if it's not used
.terraform.lock.hcl
*.terraform.lock.hcl
